body {
    font-family: sans-serif;
    background-color: white;
}
.logo {
    float:left;
}
.headerimg{
   
    height: 200px;
    width:100%;
   
}


.headercontent{
     text-align: center;
     font-size: 40px;
     padding-top: 100px;

}
.headercontent img{
    width: 70px;
    height: 70px;
    border: 10px solid;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
                max-width: 800px;
     margin: 0 auto;
    color: #da1d1d;
    font-family: sans-serif;
    padding-left: 20;
    padding-right: 20;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        overflow: hidden;
    background-color: #333;
    
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
}
