body {
    font-family: sans-serif;
    background-color: yellow;
    margin-top: 75px;
}
.logo {
    float:left;
}
.navigation li
    {
        float:left;
        
        list-style-type:none;
        display:block;
        padding: 14px 40px;
        color:white;
        background-color: black;
        border-right:1px solid white;
        
       
        
        
    }

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
                max-width: 800px;
     margin: 0 auto;
    color: #da1d1d;
    font-family: sans-serif;
    padding-left: 20;
    padding-right: 20;
}